html::after {
    content: "";
    background: url(https://www.toptal.com/designers/subtlepatterns/patterns/double-bubble.png);
    opacity: 0.3;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;   
}

header {
    text-align: center;
    height: 100px;
    background-color: #204051;
    margin-bottom: 70px;
}
header h1 {
    line-height: 100px;
    color: #e7dfd5;
}
main img {
    width: calc(740px / 3);
    margin: 0px;
    height: 250px;
    border: 2px solid #84a9ac;
    border-radius: 20px;
    padding: 10px;
}

#all_product {
    width: 820px;
    margin: auto;
    margin-bottom: 30px;
}

#finalResult {
    list-style-type: none;
    width: 820px;
    margin: auto;
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;  
}
#finalResult li {
    line-height: 30px;
    background-color: #3b6978;
    color: #fff;
    padding: 10px;
}
#finalResult li:nth-child(odd) {
    background-color: #84a9ac;
}

canvas {
    width: 800px!important;
    height: 500px!important;
    margin: auto;
}